@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@400;500;700;800&family=Red+Hat+Display:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 16px;
}
body {
  font-family: "Plus Jakarta Sans", serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
header {
  width: 90vw;
  height: 6.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  color: #fff;
  border-radius: 1.75rem;
  background: hsla(234, 53%, 16%, 1);
  padding: 0.9rem 1.5rem;
}
.header-link:hover,
.header-link:active {
  background: #666ca3;
  cursor: pointer;
}
.log {
  width: 5.5rem;
  height: 2rem;
}

#intro {
  margin-left: 1rem;
}
.intro-texts h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.1rem;
  color: #13183f;
}
p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 162%;
  color: #83869a;
}
.intro-texts p {
  margin-top: 1.6rem;
  margin-bottom: 2.3rem;
  width: 21.5rem;
  height: 4.8rem;
}
.intro-link {
  margin-top: 1.5rem;
  padding: 1rem 2.3rem;
  border-radius: 31.5px;
  color: #ffffff;
  font-weight: 700;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.intro-link:hover,
.intro-link:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

picture {
  position: relative;
  margin-top: 3.3rem;
  display: block;
  width: 80%;
  margin-left: 0.5rem;
}
picture > * {
  max-width: 100%;
}
.container {
  margin-left: 1rem;
}
.item1 {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 133%;
  color: #ffffff;
  padding: 1.5rem 1.75rem 2rem;
}
.item,
.item1 {
  width: 340px;
}
.item {
  margin-top: 2.5rem;
  /* width: 88vw; */
  height: 16rem;
  padding-left: 1.75rem;
  margin-bottom: 3rem;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
}
.item img {
  margin-top: -50%;
}
.item h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
}
.link-item {
  color: #f74780;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
}
.item p {
  width: 17.8rem;
  margin-bottom: 2rem;
}
footer {
  margin-top: 5rem;
  width: 100vw;
  height: 7.5rem;
  background: #13183f;
}
footer img {
  margin-top: 2.5rem;
  height: 35px;
  width: 89px;
}
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-inner img {
  margin-left: 1rem;
}
.footer-link {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  font-weight: 700;
  line-height: 175%;
  padding: 9px 1.5rem;
  color: #ffffff;
  margin-top: 2.5rem;
  margin-right: 1rem;
}
.footer-link:hover,
.footer-link:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

@media screen and (max-width: 875px) and (min-width: 601px) {
  header,
  #intro,
  .container {
    margin-left: 2.5rem;
  }
  header {
    max-width: 85%;
    margin-top: -0.5rem;
  }
  .header-link:hover,
  .header-link:active {
    background: #666ca3;
    cursor: pointer;
    z-index: 1;
  }

  #intro {
    display: flex;
    margin-top: 4rem;
  }

  picture {
    position: absolute;
    top: -8%;
    left: 50%;

    z-index: -1;
  }
  .intro-texts {
    width: 400px;
  }
  .intro-texts p {
    width: 25rem;
  }

  .container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 340px 340px;
    gap: 0.5rem;
  }
  .item1 {
    height: 259px;
    margin-top: 2.5rem;
  }
  .item1 {
    padding-top: 3.5rem;
  }

  .item {
    width: 340px;
  }
  footer {
    width: 100vw;
  }
  .footer-inner {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 876px) and (max-width: 1441px) {
  body {
    overflow-x: hidden;
  }
  .header-link:hover,
  .header-link:active {
    background: #666ca3;
    z-index: 1;
  }
  header,
  #intro,
  .container {
    margin-left: 10rem;
  }
  header {
    max-width: 75%;
    margin-top: -0.5rem;
    margin-left: 10rem;
  }

  .header-link:hover {
    cursor: pointer;
  }

  .hdr {
    cursor: pointer;
  }
  #intro {
    display: flex;
    margin: 5rem 10rem 12.5rem 10rem;
  }
  .intro-texts p {
    margin-bottom: 5rem;
    width: 27rem;
  }

  picture {
    position: absolute;
    top: -20%;
    left: 62%;
    z-index: -1;
  }
  .intro-texts {
    width: 460px;
  }
  .intro-texts h1 {
    font-size: 56px;
    line-height: 71px;
  }
  .intro-texts p {
    font-size: 18px;
  }
  .container {
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 1.8rem;
  }
  .item1,
  .item {
    height: 322px;
  }
  .item1 {
    margin-top: 2.4rem;
    padding-top: 4rem;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }
  .item {
    position: relative;
  }
  .link-item {
    position: absolute;
    bottom: 40px;
  }
  .photo-link-item {
    margin-left: -3rem;
    padding-left: 0;
  }
  footer {
    max-width: 100vw;
  }
  .footer-inner img {
    margin-left: 10rem;
  }
  .footer-inner a {
    margin-right: 5rem;
  }
}
@media screen and (min-width: 1441px) {
  header {
    max-width: 70%;
  }

  header,
  #intro,
  .container {
    margin-left: 10rem;
  }
  picture {
    position: absolute;
    top: -8%;
    left: 60%;
    z-index: -1;
  }
  #intro {
  }
  .intro-texts p {
    margin: 4rem 0;
    width: 500px;
  }
  .container {
    margin-left: 10rem;
    margin-top: 15rem;
    margin-right: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
  }
  .item1,
  .item {
    height: 322px;
  }
  .item1 {
    margin-top: 2rem;
  }
  .item {
    position: relative;
  }
  .item a {
    position: absolute;
    bottom: 40px;
  }
  .photo-link-item {
    margin-left: -3rem;
    padding-left: 0;
  }
  .footer-inner {
    margin-left: 0;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
